html {
    background-color: #fff;
    font-family: 'Calibri', sans-serif;
    font-size: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

body {
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
    padding-bottom: 8px;
    padding-right: 8px;
}

p {
    display: flex;
    height: 93%;
    margin: 0;
    align-items: center;

    float: right;
    color: #555;
    width: 150px;
}

.row {
    display: table-row;
}

.meter {
    display: block;
    height: 93%;
    min-height: 1px;

    margin-right: 160px;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #444;
}

.meter > span {
    display: block;
    height: 100%;
    border-radius: 5px;
}

.black > span {
    background-color: #555;
    color: #555;
    background-image: linear-gradient(to bottom, #444, #333);
}