html {
    background-color: #fff;
    font-family: 'Calibri', sans-serif;
    font-size: 15px;
}

p {
    float: right;
    color: #555;
    width: 150px;
}

.meter {
    margin-right: 180px;
    background: #fff;
    border-radius: 5px;
    display: block;
    height: 25px;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #444;
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.black > span {
    background-color: #555;
    color: #555;
    background-image: linear-gradient(to bottom, #444, #333);
}